/*footer*/



.footer{
  position:relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 100;
  background: linear-gradient(to right, rgba(4,148,244,1) 6%,rgba(16,234,27,1) 51%,rgba(255,99,102,1) 100%);
  font-family: 'Baloo Chettan', cursive;


}


pfooter{
  font-family: 'Baloo Chettan', cursive;
  font-size: 20px;
}

/*Einde*/




body {
  background-color: #ff0000, 50%;
  background-image: url(Images/404.gif);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
}

h3 {
  background-image: url(Images/404.gif);
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  width: 0.1px;
}

h1 {
  text-align: center;
  color: Red;
}


h2 {
  font-family: DKW;
  font-style: oblique;
  text-align: center;
  font-size: 100px;
}


audio{
  display: none;
}






body{
  margin: 0;
  padding: 0;
  height: 100%;

}

#footer {
  position: absolute;
  bottom: auto;
  width: 100%;
  height: 60px;

}

.active {
    background-color: #4CAF50;
}

.achtergrond{
  z-index: -10;
}


/*nav*/


.logo{
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: gray;
  font-weight: bold;
  font-size: 24px;
  font-family: Quicksand;
}

nav{
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul{
  list-style: none;
  background: rgba(0, 0, 100, 0.6);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul{
  background: white;

}

nav.text li a{
  font-weight: bold;
  color: yellow;

}

nav.textc li a{
  font-weight: bold;
  color: gray;

}

nav ul li{
  display: inline-block;
  padding: 20px;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a:hover{
  text-decoration: none;
  color: blue;
  font-style: bold;
  font-size: 20px;
}

.menu-icon{
width: 100%;
background: #000;
text-align: right;
box-sizing: border-box;
padding: 15px 24px;
cursor: pointer;
color: #fff;
display: none;
}



@media(max-width: 1190px){
  .logo{
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
  nav ul{
    max-height: 0px;
    background: #000;

  }

  nav.black.ul {
    background: #000;
  }
.showing{
  max-height: 40em;
}

nav ul li{
  box-sizing: border-box;
  width: 100%;
  padding: 24px 0;
  text-align: center;
}



.menu-icon{
  display: block;
}

}

/*Einde*/


*{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}









/*fonts*/


/*Volgende*/
@font-face {
    font-family: DKW;
    src: url(Fonts/DKW.TTF);
}

div {
    font-family: DKW;
}







/*regenboog*/



.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;

  /* Standar Syntax */
  animation: rainbow 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}






/*Muziekjeee*/
<audio controls autoplay loop>
<source src="Muziek/404.mp3" type="audio/ogg">

</audio>
