*{
  margin:0;
  padding:0;
}


.achtergrond{
  z-index: -10;
}


/*nav*/


.logo{
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: gray;
  font-weight: bold;
  font-size: 24px;
  font-family: Quicksand;
}

nav{
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav ul{
  list-style: none;
  background: rgba(0, 0, 100, 0.6);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
}

nav.black ul{
  background: white;

}

nav.text li a{
  font-weight: bold;
  color: yellow;

}

nav.textc li a{
  font-weight: bold;
  color: gray;

}

nav ul li{
  display: inline-block;
  padding: 20px;
}

nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

nav ul li a:hover{
  text-decoration: none;
  color: blue;
  font-style: bold;
  font-size: 20px;
}

.menu-icon{
width: 100%;
background: #000;
text-align: right;
box-sizing: border-box;
padding: 15px 24px;
cursor: pointer;
color: #fff;
display: none;
}



@media(max-width: 1190px){
  .logo{
    position: fixed;
    top: 0;
    margin-top: 16px;
  }
  nav ul{
    max-height: 0px;
    background: #000;

  }

  nav.black.ul {
    background: #000;
  }
.showing{
  max-height: 40em;
}

nav ul li{
  box-sizing: border-box;
  width: 100%;
  padding: 24px 0;
  text-align: center;
}



.menu-icon{
  display: block;
}

}

/*Einde*/


body{
  margin:0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size:17px;
  color:#926239;
  line-height:1.6;
}

.achtergrond{
  width: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  background: linear-gradient(to right, rgba(0,197,229,1) 0%,rgba(255,95,83,1) 100%);
}

.achtergrond img{
  outline-color: 0px 4px rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

#section-a{
  background-color: #c9dcdd;
  border-left: 3px solid blue;
  text-align: center;
  padding: 0;
  margin: 0;
}

#Informatie{
  text-align: center;
  color: black;
  font-family: NunitoRegular;
  background-image: url(Images/mario.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  font-weight: bold;
  background-blend-mode: lighten;

}



#PS4{
  padding:20px;
  background-color: #62cdf7;
  color:#ffffff;
  text-align:center;
  border-left: 10px solid #003791;
  font-family: PS4;
  font-size: 60px;
  z-index: 12;
}

ni{
  font-family: Primetime;
}


mr{
  font-family: Mario;
  font-size: 40px;
}



sw{
  font-family: couture;
}


sw2{
  font-family: couture;
  font-size: 25px;
}

cs{
  font-family: ConsoleWars;
  font-size: 54px;
  color: white;
}




ps{
  padding:20px;
  background-color: #62cdf7;
  color:#ffffff;
  text-align:center;
  font-family: PS4;
  font-size: 60px;
  z-index: 12;
}


psf{
  color:#ffffff;
  font-family: PS4;
  font-size: 37px;
}

.info{
  font-size: 17px;
}

#Leeg{
  background: linear-gradient(to bottom, #ffffff 0%,#cbf0f2 99%);
}

#mario{
  text-align: center;
  color: black;
  font-family: NunitoRegular;
  background-color: #cbf0f2;
  font-weight: bold;
}


#Leeg2{
  background: linear-gradient(to bottom, #cbf0f2 1%,#ffffff 83%);
}

.SS1 img{
  max-width: 50%;
  max-height: 50%;
  text-align:left;
  border: 4px solid white;
  border-radius: 4px;

}


video {
    width: 70%;
    height: auto;
    border: 4px solid white;
    border-radius: 5px;
    max-width: 70%
}


p a{
  text-decoration: none;
  color: black;
}

h1{
  font-size: 70px;
}


/*fonts*/






/*Volgende*/
@font-face {
    font-family: MrDeHaviland;
    src: url(Fonts/MrDeHaviland-Regular.ttf);
}

div {
    font-family: MrDeHaviland;
}



/*Volgende*/
@font-face {
    font-family: PathwayGothicOne;
    src: url(Fonts/PathwayGothicOne-Regular.ttf);
}

div {
    font-family: PathwayGothicOne;
}



@font-face {
    font-family: Propaganda;
    src: url(Fonts/PROPAGAN.ttf);
}

div {
    font-family: Propaganda;
}



/*Volgende*/
@font-face {
    font-family: Manus;
    src: url(Fonts/MyfrideRegular.otf);
}

div {
    font-family: Manus;
}




/*Volgende*/
@font-face {
    font-family: PS4;
    src: url(Fonts/ps4.ttf);
}

div {
    font-family: PS4;
}



/*Volgende*/
@font-face {
    font-family: DKW;
    src: url(Fonts/DKW.TTF);
}

div {
    font-family: DKW;
}



/*Volgende*/
@font-face {
    font-family: ConsoleWars;
    src: url(Fonts/ConsoleWars.ttf);
}

div {
    font-family: ConsoleWars;
}



/*Volgende*/
@font-face {
    font-family: StarWars;
    src: url(Fonts/StarWars.ttf);
}

div {
    font-family: StarWars;
}



/*Volgende*/
@font-face {
    font-family: Primetime;
    src: url(Fonts/Primetime.ttf);
}

div {
    font-family: Primetime;
}



/*Volgende*/
@font-face {
    font-family: couture;
    src: url(Fonts/couture.otf);
}

div {
    font-family: couture;
}




/*Volgende*/
@font-face {
    font-family: Mario;
    src: url(Fonts/MARIO.ttf);
}

div {
    font-family: Mario;
}


/*Volgende*/
@font-face {
    font-family: NunitoRegular;
    src: url(Fonts/NunitoRegular.ttf);
}

div {
    font-family: NunitoRegular;
}
